Levenshtein==0.27.3
adjustText==1.3.0
arabic-reshaper==3.0.0
collatex==2.3
graphviz==0.21
matplotlib==3.10.8
networkx==3.6.1
numpy==1.26.4
pandas==3.0.2
python-bidi==0.6.7
rapidfuzz==3.14.5
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sentence-transformers==5.4.1
six==1.16.0
torch==2.2.1+cpu
torchvision==0.17.1+cpu
plotly==6.7